<h1>Create a new category:</h1>

<h3>Create a new category for a region:</h3>
<%= form_for @category do |category| %>
  <%= render "errors", target: @category %>  
  <%= category.label :region, "Select a region:" %>
  <%= category.collection_select :region_id, @regions, :id, :name %>
  <%= category.text_field :name, placeholder: "Enter New Category..." %>
  <%= category.submit "Create" %>
<% end %>