<h2>Admin Control Board</h2>

<h3>Create a new Craigstr region:</h3>
<%= form_for @region do |region| %>
  <%= render "errors", target: @region %>
  <%= region.text_field :name, placeholder: "Region..." %>
  <%= region.submit "Create New Region" %>
<% end %>

<h2>Regions</h2>
<%= render "admin_region_category_list", regions: @regions %>

<h3>All marked spam</h3>
<p>Please moderate suspected spam for your region.</p>

<%= render "spam_list", posts: @posts %>