<h2>admin control board</h2>

<h3>create a new craigstr region:</h3>
<%= form_for @region do |region| %>
  <%= render "errors", target: @region %>
  <%= region.text_field :name, placeholder: "region..." %>
  <%= region.submit "create new region" %>
<% end %>

<h2>regions</h2>
<%= render "admin_region_category_list", regions: @regions, categories: @categories %>

<h3>All marked spam</h3>
<p>Please moderate suspected spam for your region.</p>

<%= render "spam_list", posts: @posts %>
