  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :category, "Category:" %>
    <%= form.collection_select :category, Category.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.label :region, "Select a region:" %>
    <%= form.collection_select :region, Region.order(:name), :id, :name %>
  </div>

  <%= form.submit "Submit" %>
